body {
  background-color: #071c34;
  color: #93c7c7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hello {
  margin-top: 230px;
}

#about {
  margin-top: 300px;
}

.element-name {
  padding-top: 90px;
  color: #b2ffff;
}

#experiences,
#projects,
#contact {
  margin-top: 250px;
}

h1.my-name {
  font-size: 100px;
  font-weight: bold;
  color: #b2ffff;
}

.about-paragraph {
  font-size: 16px;
}

.img-about {
  text-align: center;
}

.avatar {
  width: 280px;
  box-shadow: 10px 10px #fdee17, -10px -10px #b2ffff;
  border-radius: 10px;
}

.exp-first,
.exp-second,
.exp-third {
  border-left: solid #fdee17;
}

.project-first {
  display: grid;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
}

i {
  font-size: 20px;
}

.fa-github-square,
.fa-linkedin,
.fa-file-alt,
.fa-envelope {
  font-size: 40px;
}

.footer {
  padding-bottom: 25px;
  margin-top: 150px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
}

.emphasized {
  color: #fdee17;
}

.experience-title {
  color: #b2ffff;
}
