html {
  scroll-behavior: smooth;
}

body {
  background-color: #071c34;
  color: #93c7c7;
}

#hello {
  margin-top: 200px;
}

.element-name {
  padding-top: 140px;
  color: #b2ffff;
}

#about,
#experiences,
#projects,
#contact {
  margin-top: 250px;
}

.about-container {
  padding-top: 100px;
}

h1.my-name {
  font-size: 100px;
  font-weight: bold;
  color: #b2ffff;
}

.about-paragraph {
  font-size: 16px;
}

.img-about {
  text-align: center;
}

.avatar {
  width: 280px;
  box-shadow: 10px 10px #fdee17, -10px -10px #b2ffff;
  border-radius: 10px;
}

.exp-item {
  border-left: 3px solid #93c7c7;
  box-shadow: -2px 0 #fdee17;
}

.project-description-even,
.project-description-odd {
  border: 2px solid #b2ffff;
  border-radius: 5px;
}

.project-description-odd:hover {
  box-shadow: 15px 0 0 -2px #071c34, 15px 0 0 0 #fdee17;
}

.project-description-even:hover {
  box-shadow: -15px 0 0 -2px #071c34, -15px 0 0 0 #fdee17;
}

.project-img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 20px #07121f;
  border-radius: 5px;
}

.project-name,
.project-tech {
  color: #b2ffff;
}

.project-badge {
  background-color: #b2ffff;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  color: #071c34;
  font-size: 15px;
}

i {
  font-size: 20px;
  color: #fdee17;
}

.fa-github-square,
.fa-linkedin,
.fa-file-alt,
.fa-envelope {
  font-size: 40px;
}

.footer {
  padding-bottom: 25px;
  margin-top: 150px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
}

.emphasized {
  color: #fdee17;
}

.experience-title {
  color: #b2ffff;
}

a {
  color: #b2ffff;
}

a:hover {
  text-decoration: none;
  color: #fdee17;
}

.exp-list {
  list-style: square;
}

.btn.contact-btn {
  padding: 5px 20px;
  font-size: 25px;
  margin-top: 15px;
  background-color: #b2ffff;
  color: #071c34;
  border: none;
  border-radius: 5px;
}

.btn.contact-btn:focus {
  box-shadow: none;
}

.btn.contact-btn:active {
  background-color: #fdee17;
  color: #071c34;
  border: none;
  box-shadow: none;
}
