body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hello,
#about,
#experiences,
#projects,
#contact {
  margin-left: 120px;
  margin-right: 120px;
}

#hello {
  margin-top: 200px;
}

#about {
  margin-top: 300px;
}

#experiences,
#projects,
#contact {
  margin-top: 250px;
}

h1.my-name {
  font-size: 80px;
  font-weight: bold;
}

.about-paragraph {
  font-size: 18px;
}

.img-about {
  width: 300px;
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
}

.exp-first,
.exp-second,
.exp-third {
  border-left: solid;
}

.project-first {
  display: grid;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
}

.project-description {
}
